:root {
    --border: 1px solid black;
    --box-shadow: 0 0 30px gray;
    --width: 135px;
}

main {
    max-width: 840px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: grey;
    color: black;
}
aside img{
     width: var(--width);
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: var(--box-shadow);
}
    /* width: 200px;
    height: auto;
} */

h1 {
    color: darkblue;
}

img {
    width: var(--width);
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

main img {
    width: var(--width);
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid brown;
    text-align: center;
}